[2019-12-28 19:57] becheran opened #1 "Support nested links"
Support links such as:
[![](http://meritbadge.herokuapp.com/mlc)](https://crates.io/crates/mlc)
Current output (v0.5.0) is:
[Err ] ./README.md (3, 2) => ![](http://meritbadge.herokuapp.com/mlc)](https://crates.io/crates/mlc). Could not determine link type of ![](http://meritbadge.herokuapp.com/mlc)](https://crates.io/crates/mlc).

[2019-12-28 20:05] becheran opened #2 "Ignore files via cli arg"
Add cli argument for files which shall not be chacked with mlc

[2019-12-28 20:07] becheran opened #3 "Support other markup languages"
see: https://en.wikipedia.org/wiki/List_of_document_markup_languages

[2019-12-29 23:12] becheran opened #8 "Panic when deleting file while checking"
thread 'main' panicked at 'File could not be opened.: Os { code: 3, kind: NotFound, message: "Das System kann den angegebenen Pfad nicht finden." }', src\libcore\result.rs:1165:5
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

[2019-12-30 14:27] becheran commented on #1
Fixed with
https://github.com/becheran/mlc/pull/5

[2019-12-30 14:27] #1 closed

[2020-01-29 19:45] becheran commented on #3
Works for html and md. Please open another feature wish ticket if further markup languages are needed.

[2020-01-29 19:45] #3 closed

[2020-05-19 21:08] jessemillar commented on #2
I believe this is done, right? (Great tool!)

[2020-05-19 21:15] jessemillar opened #11 "--ignore-links syntax?"
How do I pass multiple URLs/patterns to `--ignore-links`? I can't figure out the syntax.

[2020-05-19 21:20] jessemillar opened #12 "Spotify and LinkedIn links don't work"
**Describe the bug**
See title.

**To Reproduce**
Try to validate either https://www.linkedin.com/in/jessemillar or https://open.spotify.com/playlist/1zl6faUb2RkH9eE6LwA0ae via `mlc`.

**Expected behavior**
I'd expect the links to validate since they work in a browser.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04.4 LTS
 - Browser: Chrome Ver

[2020-05-19 21:30] jessemillar commented on #11
Got it. `--ignore-links "*linkedin*" "foo"` does it.

[2020-05-19 21:30] #11 closed

[2020-05-24 18:55] becheran commented on #2
It is possible to ignore links via the cli. I did not need the file ignoring feature so I did not further work on this one.

[2020-05-24 19:07] #2 closed

[2020-05-24 19:43] becheran commented on #12
Thanks for raising these issues.

I just checked both links and it seems like it will not be possible to automatically check them via mlc. Linkedin seems to not like robots. They return a 400 and when I do open it in my browser I get a capchar were I have to manually confirm that I am not a robot by typing a text.

With spotify it is also tricky. They send the response code 999 for head and get re

[2020-05-26 16:06] jessemillar commented on #12
Thank you very much for digging in and sharing your findings. That all makes perfect sense. I've ignored the errors in my CI/CD usage of `mlc`.

[2020-05-26 16:06] #12 closed

[2020-06-27 19:15] tocklime opened #13 "Option to throttle connections to each domain"
**Is your feature request related to a problem? Please describe.**
If you have more than a couple github.com links in your markdown files, then you get lots of `429 - Too Many Requests` responses when you run mlc.

**Describe the solution you'd like**
Limit the web requests so that there is at least N (milli)seconds between each request to each domain.

**Describe alternatives you've considered**

[2020-06-27 19:16] tocklime commented on #13
I guess another alternative would be to detect the 429 response and behave accordingly (probably by auto-applying this throttle behaviour), but it's probably best to be polite in the first place, rather than wait until you've been told off.

[2020-06-29 13:30] becheran commented on #13
Thank you very much for your feature request. I never experienced this, but I can imagine that one gets this frequently if sending requests to the same domain over and over again.

You are right. The best option would be to first group the domains and then do throttling for each domain individually. Right now I won't have the time to implement this. Maybe next weekend I can take a look.

[2020-07-17 06:12] becheran commented on #8
It will panic

[2020-07-17 06:12] #8 closed

[2020-07-17 09:33] becheran commented on #13
With release 0.13.0 a throttle option was added. The checking mechanism was also changed so that URLs that exist multiple times will only be checked once. Maybe this already solves you issue, otherwise try the --throttle option which will slow down execution speed.

[2020-07-17 09:33] #13 closed

[2020-08-04 20:17] benmoss opened #17 "Docker image doesn't work"
**Describe the bug**
I tried to use the docker image to avoid having to install Rust on OSX, where there's no precompiled binaries.

I got this error from all the HTTP requests:

I'd guess that something isn't configured correctly with system certificates in the docker image.

**To Reproduce**
[code]

[2020-08-04 21:13] becheran commented on #17
I could reproduce the issue on my system. Seems to be that https requests are not working correctly in docker. The link `http://google.com/` works just fine in docker.

[2020-08-04 22:14] becheran commented on #17
The issue should be fixed with release _0.13.4_. Thanks for reporting and give it a try once the docker image is available on Docker Hub and works for you so I can close the issue.

[2020-08-05 14:14] benmoss commented on #17
Thanks for the quick fix, it looks good now!

[2020-08-05 14:14] #17 closed

[2020-08-27 10:16] mvlabat opened #19 "Support checking anchor links"
It would be great if this tool was able to check anchor links. It would really help to maintain references to internal MD docs. (But if it could also parse external html resources, that would be beyond awesomeness 😃 ).

I guess it can be introduced with a CLI option to enable or disable anchor link checks.

And thanks for creating this tool! Looking forward to replacing `markdown-link-check` with

[2020-08-30 17:06] stanislav-tkach opened #20 "crates.io links cannot be resolved"
No crates.io links can be resolved. For example, a file only contains a single link:
[code]
`mlc` gives the following output:
[code]

By the way, are all browser and smartphone details in the issue template really needed for this project?

[2020-08-30 17:50] becheran commented on #20
Hey, thank you very much for opening an issue. Unfortunately I cannot really solve this issue. All crates.io pages have the same problem. I also get a 404 when I query the page with curl `curl https://crates.io/crates/tokio {"errors":[{"detail":"Not Found"}]}` I guess it is intentionally that crates.io shall only be visible to web-browsers.

And yes, I will update the template. Absolutely no need

[2020-08-30 17:52] mvlabat commented on #20
@becheran I believe this can be worked around with adding this header to the requests: `Accept: text/html`
https://github.com/rust-lang/crates.io/issues/788

[2020-08-30 18:20] becheran commented on #20
Right. Thanks @mvlabat. I added the header info and it works. I will push and release an updated version with the fix. Many thanks

[2020-08-30 18:22] #20 closed

[2020-08-30 18:31] stanislav-tkach commented on #20
Thanks for the quick response!

[2020-09-03 20:04] stanislav-tkach opened #23 "MLC github action"
It would be nice to have the github action that simplifies the usage of mlc on (github actions) CI.

[2020-09-08 04:36] becheran commented on #19
Definitely a nice feature. I am pretty sure that it won't be super simple to implement though. For external resources I don't even know how this should be possible.

Right now I won't have the time to add this feature unfortunately.

[2020-09-08 04:41] becheran commented on #23
@stanislav-tkach thanks for opening this issue. Sounds like a good idea to have it as custom GitHub action. Unfortunately I am not really know GitHub actions right now. I am still using the GitLab CI/CD pipeline that I am used to. Could you support on this feature?

[2020-09-08 07:25] stanislav-tkach commented on #23
@becheran I have used Github Actions for some time, but I have never tried to write an action. I don't have much experience with typescript, but perhaps it would be interesting to try.

[2020-09-09 12:15] Melvillian opened #24 "Cannot parse a URL link containing closing parentheses ')'"
**Describe the bug**
A clear and concise description of what the bug is.
This is a valid URL link, yet `mlc` cannot parse it correctly

`https://en.wikipedia.org/wiki/Stack_(abstract_data_type)`

**To Reproduce**
Steps to reproduce the behavior:
1. This md file:
`[a Stack data structure](https://en.wikipedia.org/wiki/Stack_(abstract_data_type))`

2. This command '....'
`mlc /path/to/mdfile`

3. Se

[2020-09-10 12:36] becheran commented on #24
Sounds like a bug. Thanks for reporting. Let me know if you can/want to fix it yourself or whether I shall help.

[2020-09-14 15:53] stanislav-tkach opened #26 "crates.io links: 403 - Forbidden"
**Describe the bug**
MLC reports that crates.io links could not be resolved. I'm not sure if it is related to #20, but this time the error is different: "403 - Forbidden" instead of "404 - Not Found". I'm not sure if this issue is on the MLC side.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a md file with any crates.io link, for example https://crates.io/crates/syn.
2. Run mlc.
3.

[2020-09-15 07:07] becheran opened #27 "Create snap release"
It should be easy to create a self contained snap for mlc using snapcraft. This would make it easier install and use mlc on various linux OS systems.

[2020-09-16 07:47] becheran commented on #26
It is different to #20. The Unit-Test that I have with the crates.io link is also failing now. I will further investigate and what happened and see how I can fix this.

[2020-09-16 10:15] becheran commented on #26
Seems like I need to set a user-agent for crates.io queries now. They changed the policy. Without the User-Agent field in the header the response is:
"We require that all requests include a `User-Agent` header.  To allow us to determine the impact your bot has on our service, we ask that your user agent actually identify your bot, and not just report the HTTP client library you're using.  Includin

[2020-09-16 21:06] #26 closed

[2020-09-16 21:29] becheran commented on #24
Released version 0.13.7 which includes your fix. Many thanks!

[2020-09-16 21:29] #24 closed

[2020-09-16 21:30] becheran commented on #26
Released version 0.13.7 includes a fix. Thanks for reporting!

[2020-09-17 03:15] stanislav-tkach commented on #26
Thanks for the quick response!

[2020-10-24 21:10] becheran commented on #23
I published MLC as a GitHub action. It is now available in the marketplace: https://github.com/marketplace/actions/markup-link-checker-mlc

[2020-10-24 21:10] #23 closed

[2020-10-26 15:32] stanislav-tkach commented on #23
@becheran Thanks!

[2020-10-26 15:49] stanislav-tkach commented on #23
@becheran Could you please update the readme with an instruction on how to use this action? Currently the action in the marketplace uses the same readme as the mlc repository, so it only mentions how to install it using cargo or how to download a binary version.

I'm getting the following error when using this action:
[code]

[2020-10-26 19:02] becheran commented on #23
Sorry for this. I did a mistake when I tested the action locally. With the latest version it should work. I will update the Readme too as soon as possible. I use my own action here: https://github.com/becheran/wer-rusted-der-rostet-nicht/blob/master/.github/workflows/blank.yml
You can add the mlc cli arguments via
        with:
          args: <your-arguments>

[2020-10-28 14:38] stanislav-tkach commented on #23
Now everything works great, thanks!

[2020-10-30 08:28] dvtomas commented on #19
Yeah, this would be very nice. I use those with [GitLab docs](https://docs.gitlab.com/ee/user/markdown.html#header-ids-and-links)  extensively. Sometimes, I even use custom anchors:

[code]

It doesn't work for all markdown implementations, but it is easily recognizable, so adding support for it probably shouldn't be that complicated.

[2020-11-01 15:19] stanislav-tkach opened #28 "Incorrect "the following links could not be resolved" list"
**Describe the bug**
In some cases the resulting "the following links could not be resolved" list includes valid links. For example:
[code]
There are only three failures in the log above, but the list includes four links.

**To Reproduce**
Unfortunately I'm unable to create a minimal reproducible example, moreover this issue isn't reproduced locally. However, it is stably reproduced on CI. Perhaps

[2020-11-03 19:02] becheran commented on #28
Thanks for reporting. I will look into it. Do you use it in a public repo and can I see the failing/wrong checks?

[2020-11-03 21:15] stanislav-tkach commented on #28
My mistake: I was sure, that I included the links to the logs! Sorry for that.

Here is the output from CI with the `--debug` flag: https://github.com/stanislav-tkach/os_info/runs/1338649624
And without: https://github.com/stanislav-tkach/os_info/runs/1338626756
The repository is public too: https://github.com/stanislav-tkach/os_info/pull/243

[2020-11-04 20:18] stanislav-tkach commented on #28
By the way, https://deps.rs/repo/github/stanislav-tkach/os_info link is reported as "404 - Not Found", though the link is OK.

[2020-11-11 19:58] becheran commented on #28
I could reproduce this "but" locally. The prblem is that the link returns 404 on a HEAD request:
[code]
This is not an expected behavoir... though I might try a bit harder here and send another GET request which would give me a 200 then. I started with HEAD requests because they are so much cheaper... but yea, seems like there is a lot of unusual stuff out there...

This one is harder. I could not

[2020-11-11 20:51] becheran commented on #28
This is now fixed with release v0.14.0.

[2020-11-12 18:15] stanislav-tkach commented on #28
Thanks!

[2021-03-16 18:58] becheran opened #29 "Support for ReStructuredText"
Support the .rst markup language. Need to write link extractor for .rst

https://de.wikipedia.org/wiki/ReStructuredText

[2021-04-21 11:19] hoijui opened #30 "List of features"
Could you maybe add a list of features to the README?

Things I'd be interested in knowing:

* Does it only check links to full URLs, or also links to local files?
* Does it check references? (the part of a URL after the `#`)
* Does it check HTML links in Markdown files?

Surely there is more that would make sense in the list, but these are most interesting for me.
I need a tool to check consisten

[2021-04-23 21:25] becheran commented on #30
I did update the feature list in the readme, hope this will help others to see what this tool offers.

To answer your questions directly:
- It does check URLs and links to local files
- It does not :( (yet?...)
- It does. Also plain URLs which are found in the markdown text

[2021-04-25 07:03] hoijui commented on #30
wow.. perfect, thank you @becheran! :-)
I think this will help others a lot! :-)
I was thinking about implementing such a tool myself, but now it looks like.. it might make more sense to improve this one (with reference parsing & checking).
So I imagine, this tool already uses HTML and Markdown parsing. So for the reference part, I would just need to fetch the linked-to files (download them if the

[2021-04-25 19:14] becheran opened #31 "Support anchor link targets"
# Anchor links

The part after the `#` called [anchor link](https://www.tagindex.net/html/link/a_name.html) is currently not checked. A markdown link including an anchor link target is for example `[anchor](#go-to-anchor-on-same-page)`, or `[external](http://external.com#headline-1)`.

## How do anchor links work

HTML defines anchors targets via the anchor `name` tag (e.g. `<a id="generator"></a>

[2021-04-25 19:22] becheran commented on #30
@hoijui if you want to contribute and help improving `mlc` this would be awesome of course. Hope the tool actually does what you want it to do. I crated it with my (and others) GitHub READMES and docs in mind to eliminate broken links there.

I would of course be more than happy with a PR. I created another issue for the anchor link support where I already started to write down some thoughts and i

[2021-04-25 19:22] #30 closed

[2021-04-26 17:37] hoijui commented on #31
cool! :-)
My use case is the same; mainly for docs of open source hardware projects.

You are right.. no file-system caching of downloaded files is necessary. scanning for references once downloaded and cachign that in memory makes more sense... sounds all good that you write here.

PS: The link sin your issue do not work. Looks like you used relative links, and instead of them going to the soures

[2021-04-26 18:18] hoijui commented on #31
A question ...
in the `benchmark` directory, there are some markdown files (directly in that dir), and then there is a markdown and an html directory, with markdown and html files respectively.
why are there markdown files in the first level? or say.. should I just put new files just under the markdown and html dirs?

[2021-04-26 19:05] becheran commented on #31
Thanks! Don't know what I thought when I created those links. Broken links in a link checker tool issue... 🤦‍♂️

[2021-04-26 19:14] becheran commented on #31
Good question, now that I look at those markdown files I wonder why I did not put them in their corresponding dirs in the first place? Would be great if you add tests for anchor links in markdown and html dir. I will cleanup here.

One more thing is that there is already a warn message in https://github.com/becheran/mlc/tree/master/src/link_validator/file_system.rs line 65 were I print a message t

[2021-04-27 12:39] hoijui commented on #31
a question ...

You have code scanning Markdown files for links ([src/markdown_link_extractor.rs](https://github.com/becheran/mlc/blob/master/src/link_extractors/markdown_link_extractor.rs)) and code scanning HTML files for links ([src/link_extractors/html_link_extractor.rs](https://github.com/becheran/mlc/blob/master/src/link_extractors/html_link_extractor.rs)).

Now we need code scanning for anc

[2021-04-27 18:24] becheran commented on #31
Wow just had a look at my parser code again I have to admit it is a bit hard to read with all the conditions...

But in the end, both extractors do a push of a new link to the result vectors at one or several points. For example line 159 in `markdown_link_extractor.rs`. Instead of setting the target directly here it might make sense to call another static function which does the splitting of ancho

[2021-04-27 18:26] becheran commented on #31
Speaking of hard to read... I am trying to get rid of the a bit strange looking and not so performant throttle code in `lib.rs` [on a sperate branch](https://github.com/becheran/mlc/tree/update-tokio)

[2021-04-28 08:37] hoijui commented on #31
ok.. I do not understand that, but.. good luck! :-)
and.. does that mean, that right now I am able to work on the parts I need to change (mainly link_validator stuff), without causing many merge conflicts for you (or me) later?

[2021-04-28 10:44] becheran commented on #31
You can work on that part right now. My changes should be far away in lib.rs and if we need to merge I will do that. No worries

[2021-05-12 09:25] hoijui commented on #31
As you write, this is the case for GFM, but I just found out, that Pandoc Markdown does it differently. :/
It strips any number in the beginning of the title.
This means, that for this anchor checking, we have to allow the user to choose which Markdown flavor they are using, and we have to support the different algorithms of these flavors, I guess.

[2021-05-12 15:02] alexiri opened #34 "Unable to extract link if on the same line as inline code block"
**Describe the bug**
mlc currently fails to find a valid link if it's on the same line as an inline code block.

**To Reproduce**
Steps to reproduce the behavior:
1. This md file:
[code]
2. This command: 'mlc .'
3. See error: no link found

**Expected behavior**
A link should be found

**Additional context**
Test case submitted in PR #33.

[2021-05-12 17:47] becheran commented on #27
Not really a target anymore. Binaries are good enough and pipeline integration with git actions works good

[2021-05-12 17:47] #27 closed

[2021-05-12 17:49] becheran commented on #19
Ticket #31 tracks progress for anchor link implementation

[2021-05-12 17:49] #19 closed

[2021-05-12 17:58] becheran commented on #31
That's the problem of not having a md standard. Every implementation can do it differently :-(

I guess there is no way around having a command line option. But what would be your most relevant usecase? Personally I use `mlc` mainly for GitHub Readme checks so I would love to have GitHub style support.

Just re-visited issue #19 where someone states:

Never saw this `{#long-header}` syntax for hea

[2021-05-12 18:14] dvtomas commented on #31
@becheran It was me writing about the `{#id}` syntax. I use it when generating documents from Markdown using pandoc, the relevant docs are [here](https://pandoc.org/MANUAL.html#pandocs-markdown), look for *Heading identifiers*. I might have been wrong about GitLab supporting it, sorry about that. Pandoc docs say the same syntax works with PHP Markdown extra, see [here](https://michelf.ca/projects/

[2021-05-15 18:29] becheran commented on #34
Thanks for reporting!
Fixed in PR #33. Release `0.14.3` contains the fix.

[2021-05-15 18:29] #34 closed

[2021-05-31 06:50] hoijui commented on #28
can be closed?

[2021-05-31 06:54] hoijui commented on #31
.. I am not dead!
still on it, although sporadically. today I did some stuff again, and for the first time, felt somewhat comfortable with using rust.. yeay!
somehow I feel, it is partly because of your code. It is not "sophisticated" in a bad way... thanks ! :-)
still no commits to see yet, but I am mostly done with the benchmark files (at least in Markdown), and I am about 30% through with a fir

[2021-05-31 20:01] becheran commented on #31
@hoijui take all the time you want. There are no deadlines. We do this for fun. At least this is how I treat coding in my spare time. It should be at least as enjoyable as watching a Netflix series 😛

If you need/want any help, plz let me know. Rust rocks! 🦀

[2021-06-01 06:16] hoijui commented on #31
:-)
thank you @becheran ! It feels good to hear that.

And yes.. rust can be fun I learned now, cool! :-)
I am a bit unsure how to go about the parser part. It needs to be extended with parsing for the anchors (those auto-generated from titles and pandoc-markdown style, manually set ones). When reading the parser part, it looks a bit.. very verbose.. is this really the best way to do it, comparing

[2021-06-01 08:30] hoijui commented on #31
The links-in-title thing is something I came about purely by accident, and I know I would have missed much more if I had written the parser; I just mentioned it because ... unelegantly put, it made me feel my fear of this being complex is valid.

[2021-06-01 12:48] #28 closed

[2021-06-03 06:20] hoijui commented on #31
I had some bad days. am better now... ignore it! ;-)

[2021-06-03 19:09] becheran commented on #31
@hoijui sorry for late reply.

You are right. The parser part is nothing to be proud of. Was kind of the first rust code that I wrote and it looks pretty ugly. I am sorry. My thoughts when I started this was this:

* I need to extract links from markdown with keeping the line and column
* There is no lib out there which does the job
* I came up with this if-cascade/match-case parser monster

Anoth

[2021-06-03 19:14] becheran opened #35 "Link in headline not detected"
Links in headlines should be detectable

This is perfectly valid, but not detected by `mlc`:

# [link](foo/bar)

[2021-06-03 19:15] becheran commented on #31
It is a bug? I wonder what I thought when I wrote the `link_in_headline` unit test?? Was it not possible the have links in headlines before in GitHub? Did they change the markdown parser? Can't reconstruct this anymore. Fact is that one can have links in headlines even on GitHub. Issue #35

[2021-06-03 20:05] becheran commented on #31
OK. And for the future of this issue...

The usage of pandoc seems unfortunately not an option due to the issue that you pointed out. Without the source file metadata the parser is not really practical here. :-(

So I assume there is no real way around writing an own parser? Just did a quick search and found [this](https://docs.rs/logos/0.12.0/logos/) lib which looks as if it does a good job in ex

[2021-06-04 05:18] dvtomas commented on #31
Hi all,

I recently wrote a very simple quick and dirty intra-links checking for my markdown documents. I'm not sure if it's of any utility for you, but just maybe.

Here's the code. The `Itertools` dependency is there just for the `join` method and can be easily get rid of.

[code]

[2021-06-04 06:42] hoijui commented on #31
:D :D
wow.. thank you @dvtomas .. that's like magic, that you ended up here with this right now! :-)
If I read the code correctly, you are not doing a structural parsing of the Markdown, but rather ... scan for certain strings.
So for example, you would recognize links and titles even when they are within code blocks, right?

[2021-06-04 06:49] hoijui commented on #31
Sounds good!
do you have time and muse for that? :-)
I have no practical experience with anything regarding parsing/lexers and such... but if you think this one is good... good!

I guess I'll try to wrap-up what I have so far into commits, even though it is of course not functioning without the parsing part, and.. later retro-fit it to your changes... ?

[2021-06-04 06:57] dvtomas commented on #31
@hoijui No magic, I've been watching the issue because I'm also interested in that :-)

You're right about the code just looking for opening and closing sequences regardless of context. Adding support for code blocks shouldn't be too hard, though, I can imagine parsing the document line by line in a similar fashion my code does, and adding a simple state indicator *inside_block* that would be trig

[2021-06-04 08:13] hoijui commented on #31
lists also using indenting, and code withing lists may use more indents ... if you could get away with this, nobody would use the more complex mechanisms like a lexer. :/
If your solution works for you in your case, it is good of course!

My use case is pretty much the opposite:
I need the tool to be very robust, as I want it to be used in CI jobs for all Open Source Hardware documentation project

[2021-06-04 08:39] dvtomas commented on #31
Sure, I'm all for a robust solution and looking forward it. It's just that you could devise a simple solution in like a day, and have an already useful utility covering an overwhelming majority of use-cases. If some broken link inside a deeply nested list isn't reported, that's of course bad, but not a tragedy. You could work towards the perfect solution meanwhile.

Btw, have you considered adapti

[2021-06-04 09:49] hoijui commented on #31
.. .ahhhh good idea!
https://github.com/johannhof/markdown.rs/blob/master/src/parser/mod.rs#L78
this method takes a string (MD document) and returns a Tree of parsed elements. That should work; and yes, in case it does not support custom header anchors, we could add it.
Looking at the project issues though, it looks to be quite buggy still, and it does not mention following any markdown flavor, wh

[2021-06-04 09:57] hoijui commented on #31
If we decide that this library is too buggy, I think it would make sense to make our own, separate of mlc, which just parses MD into an AST, and nothing more.
... and make sure the AST is versioned, or better: is annotated with arbitrary tags, not to fall into the same trap as pandoc.

[2021-06-04 10:34] dvtomas commented on #31
Wish you good luck with that :-) https://crates.io/search?page=2&q=markdown%20parser reveals a lot of abandoned projects so yes, I guess a robust markdown parser would be a good thing to have. Of course it is hard to decide whether it is easier to fix the `markdown` crate or create new one from scratch, perhaps the crate author could help you decide.

[2021-06-04 12:13] hoijui commented on #31
ahh.. what about this?
https://github.com/kivikakk/comrak

[2021-06-04 12:42] becheran commented on #31
This looks very promising. It seems to even include metadata of ast nodes to the original document. This is awesome. It states to be GitHub and common mark compatible. For Pandoc markdown I guess we can get this working as well. I might have an hour or two tonight to check this out in detail. Thanks!

[2021-06-04 12:48] dvtomas commented on #31
Nice find. *comrak* README mentions https://github.com/raphlinus/pulldown-cmark , that might also be worth looking at.

[2021-06-04 20:48] becheran commented on #31
So I just tried the *comark* lib and commited on a [branch](https://github.com/becheran/mlc/blob/replace-md-parser/src/link_extractors/markdown_link_extractor.rs). It does the job of extracing the links.

One thing that puzzles me is the start_line metadata info of parsed Nodes which seems to be zero for all inline elements. Would need to save the line info for the last container node which should

[2021-06-05 04:58] hoijui commented on #31
Wooow! :O
great @becheran!
the cool thing with your code is, that you can keep multiple parsers around, and switch among them by calling one or the other (changing just one line). so.. sounds like for now, *pulldown_cmark* makes more sense. I imagine what is missing then is:

1. collecting/generating Markdown auto-anchors from headers (As there is GFM support, that might already work/be provided)

[2021-06-05 05:06] hoijui commented on #31
regarding Raw-HTML ...

With Pandoc, one has to do the same like with pulldown-cmark - to parse inline HTML separately. One issue I found there, which we might also see here, is that a normal HTML link within markdown:

[code]

gets parsed into an AST roughly like this:

[code]

So you can't just parse individual RawHTML tokens with the HTML parser and look for complete link definitions like `<a h

[2021-06-05 22:08] becheran commented on #31
@hoijui
I did finish the comark integration and [merged the changes into master](https://github.com/becheran/mlc/pull/36). It seems to work pretty good and the existing unit tests helped to test whether the behavior is as expected.

About the open points:

Still todo.

We could wait or parse a potential text part in the headline to get this? Should be doable even without the pulldown-cmark pull-re

[2021-06-05 22:12] becheran commented on #31
I did add your code example as a unit test and my current solution with *pulldown_cmark* and my own html parser resolves this as expected. See [this commit](https://github.com/becheran/mlc/commit/5e62862ccb8b753f33a5d05f6b8194d8fa107fa1).

[2021-06-06 05:19] hoijui commented on #31
NIICE! :D
I'll rebase on master then, and continue there.. this seems like the optimal solution you chose! :-)

It seems to be possible to have a cargo dependency on a specific repo and commit, so I think I will do that for my branch.
If that PR does not get merged, we might have to maintain our own fork, including that PR.
I would prefer that over coming up with an maintaining our own solution fo

[2021-06-06 17:14] hoijui commented on #31
alternatively to that PR, we could also use this filter:
https://github.com/ShotaroTsuji/markdown-heading-id

I will for now sticking with the PR, as I have that setup already.

[2021-06-09 19:59] hoijui commented on #31
I am still on it!
It is still advancing. :-)

[2021-06-15 04:39] hoijui opened #37 "Offline mode"
When supplying a switch, e.g. `--offline`, `mlc` would not try to access anything outside the local machine.
Might this also need a new, neutral result state?

This can be useful when working off-grid, and still wanting at least a preliminary (very fast) check of the docu, before committing.

It might only check local links, or use a cache of earlier checked links.

Priority: low

[2021-06-15 04:44] hoijui opened #38 "Only extract links"
With a command line switch, like `--only-extract-links`, only that first phase of the process would be done, and the list of links would be printed.

This can be useful for debugging, for using other tools for doing the other steps, gathering statistics about links or the changing of links over time, or .. who knows what!
It would move `mlc` closer to the UNIX style of software, and give more powe

[2021-06-15 04:46] hoijui opened #39 "Only validate links"
With a command line switch, like `--only-validate-links`, only that last phase of the process would be done, and the list of links would have to be provided, instead of an input directory.

This can be useful for debugging, for using other tools for doing the link-extraction step (e.g. pandoc or the like, which support more formats), or .. who knows what!
It would move `mlc` closer to the UNIX sty

[2021-06-15 04:49] hoijui opened #40 "Select output format"
Instead of the current output format, which is mainly human oriented, we might want to add support for more machine-friendly formats as well. The desired format could be selected through a command-line switch.

[2021-06-15 04:59] hoijui commented on #31
I am kind of stuck with.. rust related issue(s). ;-)
(as in: my lack of rust skills)

I created the `AnchorsCache` type, and in this function want to add to the cache.
Really, I don;t know how to do it, and the way I try, does not work, cause I do not get out a mutable instance of the cache (or say, the `Vec<MarkupAnchorTarget>`). plus, the `.unwrap().as_ref().unwrap().as_ref().unwrap().` in that

[2021-06-15 05:24] hoijui opened #41 "Only extract anchor targets/link fragments"
With a command line switch, like `--only-extract-anchors-targets`, only that second phase of the process would be done, and the list of anchor targets would be printed.

This can be useful for debugging, for using other tools for doing the other steps, gathering statistics about anchors or the changing of anchors over time, or .. who knows what!
It would move `mlc` closer to the UNIX style of soft

[2021-06-16 06:08] becheran commented on #31
@hoijui try [`get_mut`](https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.get_mut) on the map instead of `get`

[2021-06-16 06:27] hoijui commented on #31
oh, thanks! :-)
.. that is certainly required, but did not yet do the trick (leaving the rest as is), will also try more...

[2021-06-16 06:44] dvtomas commented on #31
I think one of the problematic things is the type signature of `type AnchorsCache = HashMap<reqwest::Url, Option<reqwest::Result<Vec<MarkupAnchorTarget>>>>;`

1. Why is there an Option<Result<...>> ? The Option seems redundant to me in a hashmap, where the absence of value is usually expressed just by not having the appropriate key at all. What is the meaning of a None value in your case?
2. Why i

[2021-06-16 07:06] hoijui commented on #31
ahh thanks @dvtomas ! :-)

Can;t think of anything rihgt now.. I think you are right. ;-)

Yes, I want to cache errors: say, a URL is unavailable, i want to store that, and not retry fetching it all the time.

I think I just wanted to get .. something to compile, and then would have added this later.
(... just trying to recreate my though process of a few days ago. ;-) )

Indeed... ;-)

got it, th

[2021-06-16 10:37] hoijui commented on #31
slightly change `AnchorCache`, and added docu:

[code]

[2021-06-16 13:07] hoijui commented on #31
.. ok, getting the grasph o fit now.. thanks! :-)
I feel like I can go on now.. that was indeed a very bad try there.

[2021-06-16 18:56] dvtomas commented on #31
Most of it makes sense. Maybe you'll want to have a dedicated error like
[code]

but you'll yet see if that's really necessary.

What really looks odd to me is the *If Option is None, it means the URL was checked and evaluated as for available,
but no parsing of anchors was tried.* How can such a situation happen? And more importantly, why would you want to *cache* such a state?

Anyway, perhaps e

[2021-06-16 20:03] becheran commented on #31
I do like the proposal of @dvtomas using an enum return value. I should use the enums type much more frequently in rust. It is so much more powerful compared to other languages. Using enums makes the state clean even without documenting it.

I am also not 100% sure why you would need the `but no parsing of anchors was tried` state @hoijui. When does this happen? When would you directly parse it an

[2021-06-16 21:06] hoijui commented on #31
ok, will do too! :-)

If the cache is going to be serialized and reloaded, for example.
in one run, you might not link to *fileX.md* with any anchors, in the next run you will. so in the first run, you would only check availability of the URL, in the second run, you would have to download the whole file and parse it. That for, I do this distinction.

[2021-06-17 20:05] becheran commented on #31
Ah got it. Did not have this usecase in mind. Though, I wonder for how long those caches will be valid? How can you tell that in the next run the file did not change?

[2021-06-17 20:07] becheran commented on #41
Only see a usecase if #40 is implemented, or as part of a rust lib of `mlc` so others can include it in their projects.

[2021-06-17 20:08] becheran commented on #40
Yea why not. If there is a need? Converting the result into `json` or `xml` etc. should be fairly straightforward.

[2021-06-17 20:10] becheran commented on #37
I already added a [`--no-web-links`](https://github.com/becheran/mlc/blob/master/docs/reference.md) option to `mlc`. Is this what you want? Actually I do prefer the much simpler arg `--offline`. Maybe I change it and keep the other as deprecated?

[2021-06-18 04:05] hoijui commented on #31
I can not tell that, but that user should have the choice, through an optional flag.
Let' say, I am building a lot of documentation directories, or I am building 100 projects, each on average 100 times a day, or I know I'll be working on a documentation offline for a week, but want to be able to test it's quality while I go, or maybe we will support scanning multiple projects in one execution of `

[2021-06-18 04:15] hoijui commented on #37
doh! :D
yes of course, that is what I meant, thanks. :-)

[2021-06-18 04:21] hoijui commented on #41
ah indeed, as a library it also makes a lot of sense! :-)

I personally would also use it as a stand-alone tool,
piping into `sed`, `awk`, `sort` and the like.

Anyway.. I am just enlisitng my wishes here

[2021-08-23 19:01] becheran commented on #31
@hoijui are you still working on this issue?

[2021-09-13 20:44] hoijui commented on #31
hey!
uhhh sorry for the late answer! :/
I was not working on this, because .. frankly, it got really ugly (code-design wise).
there are good news too, though:
Most of the last few weeks, I was writing other rust software, and since friday I feel like.. I got the basic hang of it. I can not write code without relying purely on the compiler telling me what to do. ;-)
and the other good news is: I am

[2021-09-17 18:12] becheran commented on #31
@hoijui hey, nice to hear. Congrats for the new job! Sounds great!
All right. Just contact me if you want input or need help.

[2021-09-23 08:12] hoijui commented on #31
**NOTE** (mostly) to self:
Should use the `url` crate for parsing:
https://docs.rs/url/2.2.2/url/
It even supports parsing relative URLs, meaning, we can use it to parse local links too. that should reduce complexity quite  bit (and improve stability for edge-cases). under the link above, relative URL parsing is shown as well; it requires supplying a base, which could be "file:///path/to/project/r

[2021-11-16 20:27] hoijui commented on #31
..looks like I am working on this again now...
hate to look at the code I did so far, so. will probably start from fresh, now with better rust knowledge, copying code and ideas from my last try when appropriate.

... oh **NOTE**s, great!

[2021-11-22 07:50] hoijui opened #43 "Potential alternative/similar project: mdbook-linkcheck"
I stumbled over this by accident.
It also does not support anchors yet (and is unlikely to do so, as it is marked as "passively maintained" in its Cargo.toml); here a link to the anchors issue there:
https://github.com/Michael-F-Bryan/mdbook-linkcheck/issues/52

I did not yet have a look at the code, but I imagine that it at least does not support only Markdown, not HTML, as there would be no need

[2021-11-22 16:02] becheran commented on #43
@hoijui thanks for the info. Sure it would make sense to list and compare to other tools ⚒️. Wanted to update the readme anyways after mlc can be considered feature complete

[2022-02-27 06:47] hoijui opened #44 "(maybe) Support a `--secure-only` flag, that warns about http (vs https) links"
### Problem

Outdated content often has `http://...` links instead of the `https://...` versions,
which almost all sites support by now. It would be good if they were changed.

Is the same possible in other cases?
Looking at `ftp` vs `sftp`, for example, I think we could not do the same,
as one can not generally assume that there is `sftp` where there is ftp,
nor that it points to the same content

[2022-02-28 19:04] becheran commented on #44
@hoijui I am not against this. Though, I also don't think this there is a lot of need for this feature.

If websites do not support http anymore, they will (if done right) just redirect http to https. If the server still offers http without https, it is more a server config issue.

[2022-07-13 08:54] diegorondini opened #49 "Missing binaries for 0.15.x releases"
**Describe the bug**
Binaries for 0.15.x releases are missing in the release page:
https://github.com/becheran/mlc/releases

**To Reproduce**
Run the command in the README:
[code]

[2022-07-13 09:42] becheran commented on #49
I know :(. Thanks for reporting, I quickly uploaded the artifacts for 15.2 manually. The gitlab pipeline release jobs are somehow broken. Need to fix them. I keep this issue open till done. Meanwhile I hope you can work with the binaries I just manually uploaded.

[2022-07-13 09:51] diegorondini commented on #49
I was using `cargo install` in the meantime, but of course it's not convenient for a pipeline.

Thanks for uploading the binaries.
Remember to update the curl in the README, it should be:
[code]

[2022-07-13 11:36] diegorondini opened #50 "Directory parameter is ignored if provided after an option"
**Describe the bug**
Unlike what is described in the `--help`, the directory parameter, at least in the following specific case, seems to be ignored when provided **after** an option.

**To Reproduce**
The following command reports broken links that are in `<workdir>`, rather than just `<workdir>/<myfolder>`:
[code]
This one works as expected (only broken links from `<workdir>/<myfolder>`):
[code]

[2022-07-13 11:43] diegorondini opened #51 "Support for ignore link list from a file"
**Is your feature request related to a problem? Please describe.**
At the moment the links to ignore are provided as option parameters on the command line:
[code]
This is inconvenient if mlc is run during a pipeline, as adding / removing a link to ignore requires changing the pipeline config file.

**Describe the solution you'd like**
Allow to specify a file that provides the list of links to igno

[2022-07-15 08:11] diegorondini opened #52 "Allow specifying HTTP request parameters"
**Is your feature request related to a problem? Please describe.**
Some URLs require specific HTTP request parameters.
One example is the github docs pages, for example this `.md` will fail:
[code]

The reason is that the page requires specific HTTP headers:
https://github.com/github-community/community/discussions/14773

**Describe the solution you'd like**
It would be nice to have a way to speci

[2022-07-18 06:13] becheran commented on #52
I like this idea. Just don't know how exactly one would pass all the possible header fields to mlc? Via commandarg?

[2022-07-18 06:14] becheran commented on #50
Thx for reporting. I will have a look once I find the time.

[2022-07-18 06:16] becheran commented on #51
Sounds reasonable. I will think about it. Maybe even more general such as a *mlc* config file which does include the ignored link list.

[2022-07-18 06:51] diegorondini commented on #52
Probably the best option would be a config file, otherwise it would be impractical to specify different headers for different URLs.

See for example:
https://github.com/orgs/github-community/discussions/14773#discussioncomment-2679987

[2022-07-18 06:55] diegorondini commented on #51
Yes, that sounds like a sensible idea, and matches what others similar projects are doing:
https://github.com/tcort/markdown-link-check#config-file-format

[2022-07-21 20:05] becheran commented on #50
@diegorondini not sure if I am able to fix this. The underlying library for cli parsing `clap` interpretes your the <myfolder> in your first example as part of the `-i` arg. If you would write:

[code]

it should work as expected. It is an issue of the parser not knowing that <myfolder> is not part of the ignore flag.

[2022-07-23 16:56] #50 closed

[2022-07-23 16:59] becheran commented on #50
@diegorondini seems like it is my fault. The I used the `clap` option `min_values` instead `takes_value` which would have been right. I changes that and upgraded to the latest `clap` version in `mlc`. Will publish a new version including the fix soon.

[2022-07-25 07:34] diegorondini commented on #50
Thanks for fixing!

[2022-08-01 14:40] fresh2dev opened #53 "Latest Docker images broken"
**Describe the bug**

v0.15.x Docker images are broken.

**To Reproduce**
Steps to reproduce the behavior:

1. Run and observe v0.15.2 does not work:

[code]

**Expected behavior**

`mlc` should continue to function in Docker like v0.14.3 does.

[code]

**Desktop (please complete the following information):**

[code]

[2022-08-18 11:35] #53 closed

[2022-08-18 11:59] becheran commented on #53
@fresh2dev thank you very much for reporting and sorry for the slow response. The image is fixed with 0.15.3. The problem was that the rust binary requires GLIBC_2.28 which was not part of ubuntu 18.04. Updating the baseimage to 20.04 fixed the issue.

[2022-08-22 11:37] becheran opened #54 "Line and column wrong with windows typical line breaks"
The line col index calculation for cmark lib is wrong. And inefficient. No additional Vec alloc is needed!

[2022-08-23 19:17] #54 closed

[2022-08-23 19:22] becheran commented on #37
Because I don't want to introduce a breaking change, I will keep `--no-web-link` for now

[2022-08-23 19:22] #37 closed

[2022-11-09 00:16] g3rv4 opened #55 "Support reporting redirections"
**Is your feature request related to a problem? Please describe.**
I'd love to have the ability to report redirections as failures. If there's a 301 redirect in place, I'd love to flag it as broken so that I can fix and link to the appropriate place.

**Describe the solution you'd like**
An extra flag `--report-redirections` could work. Maybe it could even be `--treat-status-codes-as-failure` wher

[2022-11-09 00:22] g3rv4 commented on #55
oh, another option would be to just put the status code that was returned, and I can parse things on my end

[2022-11-16 18:25] g3rv4 commented on #55
Addressed in #58

[2022-11-16 18:25] #55 closed

[2022-11-16 18:27] becheran opened #60 "Format links in vs code console so that ctrl + left click opens the file at right location"
In VS Code it is very easy to follow links from the integrated terminal. It would help a lot if mlc does format the links accordingly if ran inside a vscode console window.

Links should be formated inside vs code console like this `./file.md:8:1` instead of `./file.md (8, 1)`

This can easily be detected via an env var.

[2022-11-16 18:28] becheran opened #61 "First line separator is wrong on Windows"
When running mlc on windows without any arguments, it will begin the path to files with `./` instead of the windows typical backslash `\.`.

For example `./target\package\mlc-0.15.4\benches\throttle\same_ip.md (8, 1) => https://127.0.0.1/f5.` should be `.\target\package\mlc-0.15.4\benches\throttle\same_ip.md (8, 1) => https://127.0.0.1/f5.`

[2022-11-16 22:10] becheran commented on #61
Fixed with 5994f4ef72c30314b5fd9ac6388eb7e30ce8528e

[2022-11-16 22:10] #61 closed

[2022-11-16 22:35] becheran commented on #60
Fixed with c443608

[2022-11-16 22:35] #60 closed

[2022-11-19 07:40] becheran opened #63 "Use GitHub actions workflow commands"
Using [workflow commands](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions) would enhance the `mlc` GitHub action output with helpful annotations at what code location a link is broken.

[2022-11-25 17:21] #49 closed

[2022-11-27 19:50] #51 closed

[2022-11-28 07:42] diegorondini commented on #52
I think your pipeline has been hit by this bug:
https://github.com/becheran/mlc/actions/runs/3559864946/jobs/5979511630

[code]

[2022-11-28 07:52] diegorondini commented on #51
Thanks for implementing this!

[2022-11-28 09:07] becheran commented on #52
@diegorondini fun fact: It does not fail when I run it locally. Does github somehow prevent requests to GitHub.com from their own runners? You mention missing request parameters? What would that be in this case?

[2022-11-28 09:26] diegorondini commented on #52
@becheran I think the first question is why the pipeline checks that link even if there's no such link in the `README.md`:
[code]

Returning to this bug, `docs.github.com` requires the `Accept-Encoding: zstd, br, gzip, deflate` header:
[code]

[2022-11-28 09:32] diegorondini commented on #52
Sorry, I just realized I should have checked out the `github-action-output` branch.
Now it fails for me as well with 0.15.4:
[code]

[2022-11-28 10:13] becheran commented on #52
Ah, right. Did the same mistake and ran it on wrong branch locally 🤦‍♂️

[2022-11-28 10:18] becheran commented on #52
@diegorondini would 'Accept-Encoding: *' help in this case? Might be a sane default since we don't care about the content anyways right now.

To make it configurable I think a map of links with wildcards and associated headers would make sense as config parameter. Will think about it.

[2022-11-28 12:59] diegorondini commented on #52
@becheran well, not literally:
[code]

The official way to mean any encoding should be `Accept-Encoding: */*`, but I don't know how much it works in pratice.
https://stackoverflow.com/questions/25182888/does-in-an-http-accepts-encoding-header-mean-gzip-is-supported

The library you're using (reqwest?) may support accepting all encodings. Libcurl does that:
https://curl.se/libcurl/c/CURLOPT_ACCEPT_

[2022-11-28 19:35] becheran commented on #52
Yes, I am using reqwest. I did turn on all supported encodings (brotli, gzip, deflate) and that did the trick for now. But I guess there are other cases where a custom request is still required. For example if a authentication token is required for a specific link.

[2022-11-28 19:36] #63 closed